<ion-header>
  <ion-navbar>
    <ion-title>
      Bate-Papo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Nome:</ion-label>
    <ion-input [(ngModel)]="nome" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Sala:</ion-label>
    <ion-select [(ngModel)]="sala" interface="action-sheet">
      <ion-option *ngFor="let sala of salaService.salas" [value]="sala">{{sala.nome}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list [(ngModel)]="iconeSelecionado" radio-group>
    <ion-item *ngFor="let icone of salaService.icones">
      <ion-label>
        <ion-icon [name]="icone"></ion-icon>
      </ion-label>
      <ion-radio [value]="icone"></ion-radio>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="onEntrarClick(nome, sala, iconeSelecionado)">Entrar</button>
</ion-content>